<div>
	<div>
		<p>ジャンル一覧・追加</p>
		<div>
			<%= form_for(@genre, url: admin_genres_path) do |f| %>
			<div>
				<label>ジャンル</label>
			</div>
			<div>
				<%= f.text_field :name %>
			</div>
			<% end %>
		</div>
	</div>
</div>