<div>
	<div>header</div>
	<div>
		How to buy
		First, please click this button.
		Second, please subscribe your information.(name,email,and address)
		Third, choice a quantity. You can choice per 100 grams.
	</div>
	<div>
		How to eat
		Please check this page!
		There are many recipes to eat chestnut tasty!
	</div>
	<div>
		Information
		If you have some question, please send a email from here!
		xxx@xxx
	</div>
	<div>footter</div>
</div>