<div>
	<div>header</div>
	<div>
		<h1>
			welcome to chestnut!!!!
			This site is an EC site.
			We sells chestnut made in Urawa.
			Please check here  ↓↓↓↓↓
		</h1>
		<div><!--<%= link_to %>--></div>
	</div>
	<div>footer</div>
</div>